<form action='' method='post'>
	<table>
		<tr>
			<td>
				<% if board[0].class == Integer %>
					<input type='submit' value='true' name='board[0]'>
				<% else %>
					X
				<% end %>
			</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>4</td>
			<td>5</td>
			<td>6</td>
		</tr>
		<tr>
			<td>7</td>
			<td>8</td>
			<td>9</td>
		</tr>
	</table>
</form>